/* Empty. Add your own CSS if you like */

html, body {
}

.page {
	background-color: rgba(255, 255, 0, .1);
}

.bar-header {
	background-color: #aad874 !important;
	//box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

.button {	
	color: #31270E !important;
}

.new_deal_button {
	position: fixed;
	width: 50px;
	height: 50px;
	right: 10vw;
	bottom: 5vh;
	z-index: 100;
	border-radius: 50%;
	background-color: #aad874;

	box-shadow: 0 0 10px 3px #888;
}

.button_content {
	text-align: center;
}

.title {
	color: #31270E !important;	
}

.deal_details {
	width: 95vw;
	border-collapse: collapse;
	margin: 10px auto;
	//border: 1px solid red !important;
}

.deal_details, .deal_details p {
	color: #31270E !important;
}

.deal_details td {
}

.detail td {
	padding: 5px;
}

.bold {
	font-weight: bold;
}

.locations_map {
	height: 50vh;
	line-height: 50vh;
	text-align: center;
}

.tag_search {
	margin: 0; 
	padding: 0; 
	border: 0;
}

.deal_li {
	height: 20vh;
}

.tags li {
	background-color: transparent;
}

.tag_title {
	color: #31270E !important;
	font-weight: bold;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
	background: #aad874;
	border: 1px solid #aad874;
}

.radio-icon:before, .ion-checkmark:before {
	color: #aad874 !important;
}

button.submit {
	font-size: 24pt;
	padding: 0px 40px 0px 40px;
	background-color: #fff;
	border: 2px solid #aad874;
	border-radius: 50px;
	font-weight: lighter;
}

button.submit:hover {
	background-color: #aad874;
}

.save_deal {
	background-color: #aad874 !important;
}

.ion-android-star, .ion-android-done {
	color: #aad874;
}

.filters {
	font-weight: bold;
}

a, a:link, a:visited {
	color: #aad874;
	text-decoration: none;
}
