<div id="deal_info" class="list card">
	<div class="item item-divider">
		Deal Info
	</div>
	<label class="item item-input">
		<input type="text" placeholder="Deal Name" name="deal_name" />
	</label>
	
	<label class="item item-input">
		<!--<input type="text" placeholder="Deal Name" name="deal_name" />-->
		<textarea placeholder="Deal Details" rows="5" name="deal_details"></textarea>
	</label>
	

</div>

<div class="list card">
	<div class="item item-divider">
		Tags
	</div>
	<label class="item item-input">
		<input type="text" placeholder="Deal Tags" name="deal_tags" />
	</label>
</div>

<div class="row responsive-sm">
	<div class="button button-balanced save_deal" class="col" style="margin: 0 5em;" ng-click="">
		Save
	</div>
</div>