<div class="deal">
	<div class="item item-divider">
		{{ deal.title }}
	</div>
	<div class="item row" style="font-size: 1em;">
		<div class="col col-75" style="">
			<p class="deal_business">{{ deal.business }}</p>
			<p>
				{{ deal.description }}
			</p>
			<div class="deal_tags">
				taco, alcohol
			</div>
		</div><!-- end col-75 -->
		<div class="col col-25 deal_stars" style="text-align: right;">
			<i class="ion-android-star"></i>
			<i class="ion-android-star"></i>
			<i class="ion-android-star"></i>
			<i class="ion-android-star"></i>
			<div>
				<p class="deal_rating">
					<i class="ion-android-done"></i>&nbsp;<span style="">127</span>
				</p>
			</div>
			<div class="verify_deal" style="">
				
			</div>
		</div><!-- end deal stars -->
	</div><!-- end row -->
	
</div><!-- end deal div -->