<ion-view view-title="{{user.handle}}'s tags" ng-init="setup()">
  <ion-content class="page">
	<div class="list tag_search">
		<div class="item item-input-inset" style="background-color: transparent;">
			<label class="item-input-wrapper">
				<input type="text" placeholder="beer, breakfast">
			</label>
			<button class="button button-small">
				Add
			</button>
		</div>
	</div>
		<!-- tag management list -->
		<div class="list">
			<label class="item item-radio" ng-repeat="tag in user.tags" style="background-color: transparent;">
				<input type="radio" value=" {{ tag.tag }} " CHECKED onclick="this.checked=false;"/>
				<div class="item-content" style="background-color: transparent;">
					{{ tag.tag }}
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
		
	<div class="row responsive-sm">
		<div class="button button-balanced save_deal" class="col" style="margin: 0 5em;">
			Save
		</div>
	</div>
  </ion-content>
</ion-view>
